#banner {
  padding-top: 229px;
  padding-bottom: 180px;
  background-color: #5956e8;
}
.bancontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bancontent .banpart {
  width: 60%;
}
.bancontent .banpart h1 {
  color: #fffefe;
  font-family: Inter;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  width: 501px;
}
.bancontent .banpart p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  width: 542px;
}
.bancontent .banpart a {
  padding: 13px 22px;
  background-color: #fff;
  color: #5956e8;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  border-radius: 10px;
  font-weight: 500;
  line-height: 130px;
  margin-left: 127px;
}
.bancontent .banimg {
  width: 40%;
}
.bancontent .banimg img {
  width: 100%;
}
